@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

/*Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  font-size: 62.5%;
}
/*End of Common Styles */

/* Mouse Circle */
.mouse-circle,
.mouse-dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.mouse-circle {
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid #ff500d;
  animation: mouseCircleAnim 10s infinite linear;
}

@keyframes mouseCircleAnim {
  0% {
    width: 4rem;
    height: 4rem;
  }
  25% {
    width: 6rem;
    height: 6rem;
  }
  35% {
    width: 2rem;
    height: 2rem;
  }
  70% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 4rem;
    height: 4rem;
  }
}

.mouse-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: blueviolet;
  animation: mouseDotAnim 5s infinite linear;
}

@keyframes mouseDotAnim {
  0% {
    width: 0.5rem;
    height: 0.5rem;
  }
  55% {
    width: 1rem;
    height: 1rem;
  }
  100% {
    width: 0.5rem;
    height: 0.5rem;
  }
}
/* Mouse Circle */

/* Page BG */
.page-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(190, 153, 153, 0.7),
      rgba(144, 167, 201, 0.7)
    ),
    url(../images/bg3.jpg) center no-repeat;
}
/* End of Page BG */
