@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

/*Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*End of Common Styles */

/* Mouse Circle */
.mouse-circle,
.mouse-dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.mouse-circle {
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid #ff500d;
  animation: mouseCircleAnim 10s infinite linear;
}

@keyframes mouseCircleAnim {
  0% {
    width: 4rem;
    height: 4rem;
  }
  25% {
    width: 6rem;
    height: 6rem;
  }
  35% {
    width: 2rem;
    height: 2rem;
  }
  70% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 4rem;
    height: 4rem;
  }
}

.mouse-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: blueviolet;
  animation: mouseDotAnim 5s infinite linear;
}

@keyframes mouseDotAnim {
  0% {
    width: 0.5rem;
    height: 0.5rem;
  }
  55% {
    width: 1rem;
    height: 1rem;
  }
  100% {
    width: 0.5rem;
    height: 0.5rem;
  }
}
/* Mouse Circle */

/* Page BG */
.page-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(190, 153, 153, 0.7),
      rgba(144, 167, 201, 0.7)
    ),
    url(../images/bg.jpg) center no-repeat;
}
/* End of Page BG */

/* Section 1 */
.section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Logo */
.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffff;
}
/* End of Logo*/

/* Animated Circles */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.circle {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: red;
  align-self: center;
  justify-self: center;
  /* opacity: 0.5; */
  position: relative;
  top: 0;
  left: 0;
  transition: left 2s, top 2s;
}

.circle-1 {
  background: url(../images/frank.JPG) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem dotted #a7a7a7;
  margin-left: -10rem;
}
.circle-2 {
  background: url(../images/family.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem double #ffff;
  margin-right: -10rem;
}
.circle-3 {
  background: url(../images/rocks.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem double #a7a7a7;
  margin-left: -10rem;
}
.circle-4 {
  background: url(../images/balcony.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem dotted #ffff;
  margin-right: -10rem;
}

.main-circle {
  width: 45rem;
  height: 45rem;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  transition: width 0.2s, height 0.2s;
}

.main-circle:hover {
  width: 55rem;
  height: 55rem;
}

.main-circle img {
  mix-blend-mode: luminosity;
  position: relative;
  top: 0;
  left: 0;
  transition: left 2s, top 2s;
}
/* End of Animated Circles */

/* Featured Text */
.featured-text {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  width: 0;
  word-wrap: break-word;
  line-height: 2.5;
  position: sticky;
  top: 0;
}

.featured-text-1 {
  margin: 0 auto 0 10rem;
}
.featured-text-2 {
  margin: 0 10rem 0 auto;
}
/* End of Featured Text  */

/* main button */
.main-btn {
  position: absolute;
  bottom: 3rem;
  width: 10rem;
  height: 10rem;
  background-color: pink;
  border-radius: 50%;
  border: 0.2rem dotted #ffff;
  padding: 0.1rem;
}

.main-btn-content {
  width: 100%;
  height: 100%;
  border: 0.2rem dotted blue;
  border-radius: 50%;
  transform: rotate(40deg);
}

.main-btn-line {
  position: absolute;
  top: 3rem;
  width: 2rem;
  height: 0.5rem;
  border: 0.1rem solid #fff;
}
.main-btn-line:nth-child(1) {
  transform: rotateZ(-45deg) translateX(-0.65rem);
  transform-origin: left center;
  border-right: none;
}
.main-btn-line:nth-child(2) {
  transform: rotateZ(45deg) translateX(0.65rem);
  transform-origin: right center;
  border-left: none;
}

.main-btn-line:nth-child(3) {
  transform: rotateZ(90deg) translateX(0.5rem);
  border-left: none;
}

.main-btn span {
  position: absolute;
  bottom: 2rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
/* End of main button */

/* End of Section 1  */
